<h1>プロフィール編集画面</h1>
    <div class="gravatar_edit">
        <%= gravatar_for @user %>
        <a href="http://gravatar.com/emails" target="_blank">画像の変更</a>
    </div>
    <%= form_for(@user,url:update_path) do |f| %>
        <%= f.label :"ユーザ名" %>
        <%= f.text_field :name, class: 'form-control' %>
        <%= f.label :"メールアドレス" %>
        <%= f.text_field :email, class: 'form-control' %>
        <%= f.label :"自己紹介" %>  
        <%= f.text_area :content, :placeholder => "ここに何か入力してね"  %>
        <%= f.submit "更新", class: "btn btn-primary" %>
    <% end %>
