<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <% if @user.image.url.blank? %>
        <%= gravatar_for current_user %><%= @user.name %>
      <% else %>
        <%= image_tag @user.image.url :size =>'50x50' %><%= @user.name %>
      <% end %>
      <div class="col-md-7 order-md-2"> 
        <div class= 'featurette-heading'>     
        </div>
          <% if current_user.id ==@user.id %>
            <%= link_to "編集", edit_path(current_user.id) %><br>
          <% end %>
          <div class="lead">
            <%= @user.content %>
          </div>
        </div>
      </div>
    </div>
    <h3>過去の投稿履歴</h3>
      <table class="table table-hover">
        <tbody>
          <% @user.posts.each do |post| %>
            <tr>
            <td><h6><%=post.title %><h6>
            <%if post.image.url %>
              <%= image_tag post.image.url , :size =>"320x240" %>
            <% end %>
            <%= post.content %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>