<main class="container">
    <div class="starter-template  py-5 px-3">
        <h3><%= @post.title %></h3>
        <%if @post.image.url %>
            <%= image_tag @post.image.url , :size =>'200x200' %><br>
        <% end %>
        <%= @post.content %>
            <% if current_user.id == @post.user_id %>
                <%= link_to "編集" , posts_edit_path(@post) %>
                <%= link_to "delete", @post, method: :delete,
                                       data: { confirm: "本当に投稿を削除しますか？" } %>
            <% end %>
        <% if current_user.liked_by?(@post,nil) %>
            <%= link_to 'いいねを外す', like_destory_path(@post,current_user.id), method: :DELETE %></td>
        <% else %>
            <%= link_to 'いいね', like_creat_path(@post,current_user.id), method: :POST %></td>
        <% end %>
    </div>
    <div>
        <% @post.comments.each do |comment| %>
            <% if comment.user_id == current_user.id %>
                <%= link_to "delete", @post , method: :delete,
                                       data: { confirm: "返信を削除しますか？" } %>
            
            <%= comment.comment_content %>|<%= link_to(comment.user.name,mypage_path) %>
            <% end %>
        <% end %>
    </div>
    <%= form_for @comment , url: comment_creat_path do |f|  %>
        <textarea aria-label="コメントを追加…" placeholder="コメントを追加…" class="Ypffh"name="comment[comment_content]" autocomplete="off" autocorrect="off" style="height: 30px !important;"></textarea>
        <input type="hidden" name="comment[post_id]" value="<%=@post.id %>">
        <input type="hidden" name="comment[user_id]" value="<%=current_user.id %>">
        <%= f.submit %>        
    <% end %>
</main>